<!-- NOTE: Filter for M/F -->
<!-- NOTE: Filter for M/F classes (Monk/Shrine Maiden) -->
<h1>Fates</h1>

<!--
<h2>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCharacters" aria-expanded="false" aria-controls="collapseCharacters">
    Characters
  </button>
</h2> -->

<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-target="#collapseCharacters" aria-expanded="false" aria-controls="collapseCharacters">
    Characters
  </div>

  <div class="panel-body collapse in" id="collapseCharacters">
    <div class="row">
      <!-- <div class="col-xs-12 col-md-6"> -->
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-3" role="button"
               ng-repeat="character in fates.characterList | orderBy:character" ng-click="fates.setCharacter(character)">
            {{ character }}
          </div>
        </div>
      </div>

      <!-- <div class="col-xs-12 col-md-6 well"> -->
      <div class="col-xs-12 well" ng-show="fates.character.name">

        <hgroup>
          <h3>
            {{ fates.character.name }}
            <small>
              {{ fates.character.sex | fatesSexes:'symbol' }}
              {{ fates.character.baseRole() | fatesSexes:'role':fates.character.sex }}
            </small>
          </h3>
          <p ng-if="fates.character.spawnedBy">
            <span class="glyphicon glyphicon-baby-formula"></span>
            {{ fates.character.spawnedBy }}
          </p>
        </hgroup>
        <hr />

        <div class="row">

          <div class="col-xs-12 col-sm-3">
            <div ng-if="fates.character.roles">
              <h4>Classes</h4>
              <ul>
                <li ng-repeat="role in fates.character.roles">
                  {{ role | fatesSexes:'role':fates.character.sex }}
                </li>
              </ul>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <h4>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ fates.character.friend ? fates.character.friend.name : 'Friend Support' }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li ng-repeat="supportName in fates.character.friends | orderBy:supportName" ng-init="supporter = fates.getCharacter(supportName)"
                      ng-click="fates.character.setSupport(supportName, 'friend')">
                    <a>{{ supporter.name }} <small class="text-right">{{ supporter.baseRole() | fatesSexes:'role':supporter.sex }}</small></a>
                  </li>
                  <li ng-if="!fates.character.friends.length"><a>No friend supports available</a></li>
                </ul>
              </div>
            </h4>

            <div ng-if="fates.character.friend">
              {{ fates.getSupportRole(fates.character.friend) || 'None' | fatesSexes:'role':fates.character.sex }}
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <h4>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ fates.character.partner ? fates.character.partner.name : 'Partner Support' }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li ng-repeat="supportName in fates.character.partners | orderBy:supportName" ng-init="supporter = fates.getCharacter(supportName)"
                      ng-click="fates.character.setSupport(supportName, 'partner')">
                    <a>{{ supporter.name }} <small class="text-right">{{ supporter.baseRole() | fatesSexes:'role':supporter.sex }}</small></a>
                  </li>
                  <li ng-if="!fates.character.partners.length"><a>No partner supports available</a></li>
                </ul>
              </div>
            </h4>

            <div ng-if="fates.character.partner">
              {{ fates.getSupportRole(fates.character.partner) || 'None' | fatesSexes:'role':fates.character.sex }}
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
